<% if lists.empty? %>
  <div class="marketplace-text-empty">
    <h2>No lists in this section 😭</h2>
  </div>
<% else %>
  <% lists.reverse.each do |list|%>
    <div class="alexis-marketplace-card">
      <div class="alexis-marketplace-card-element">
        <%= link_to "", list_path(list), class:"alexis-click"%>
        <div class="alexis-card-left-element">
          <%= link_to list.name.titleize, list_path(list) %>
          <% if list.shotguns.count == 0 %>
            <p><span><%= list.places %> shotguns available</span> out of <span><%= list.places %></span></p>
          <% elsif list.shotguns.count > 0 && list.shotguns.count < list.places %>
            <p><span><%= list.shotguns.count %> shotguns</span> out of <span><%= list.places %></span></p>
          <% else %>
            <p><span><%= list.shotguns.count%> / <%=list.places%></span> - Waiting List</p>
          <% end %>
          <%= list.user.username.capitalize %>
        </div>
        <div class="alexis-card-right-element">
          <p><%=list.end_time.strftime('%D')%></p>
          <div class="alexis-card-show-btn">
            <i class="fas fa-chevron-right"><%= link_to "", list_path(list), class:"alexis-market-show-btn" %></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
