<div class="container py-5">
<h2>Add a restaurant</h2>
  <%= simple_form_for @restaurant do |f| %>
  <%= f.input :name, label: "give a name" %>
  <%= f.input :address, label: "address" %>
  <%= f.input :phone_number, label: "phone_number" %>
  <%= f.input :category, label: "category", collection: Restaurant::CATEGORIES %>
  <%= f.submit 'create a restaurant' %>
  <% end %>
</div>
